/* - Preto: #141414
- Bege: #E5E5E5
- Branco: #FFFFFF
- Cinza escuro: #6D6D6E
- Vermelho: #B9090B
- Cinza claro: #808080 */

*{
    scrollbar-width: thin;
    scrollbar-color: #fff #141414;
    
}
*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: #141414;
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 20px;
    border: 2px solid #141414;
}

body{
    width: 100%;
    background-color: #141414;
    font-family: 'Roboto', sans-serif;
}

nav ul{
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.principal nav ul{
    overflow-x: scroll;
}

a{
    color: white;
    text-decoration: none;
}

.container{
    display:flex;
    flex-direction: column;
    max-width: 1920px;
    margin: 0 auto;
}
.container__cabecalho{
    display: flex;
    flex-direction: row !important;
}

/* CABEÇALHO */
.cabecalho{
    width: 100%;
    background: url(https://assets.nflxext.com/ffe/siteui/akira/fallback/header_gradient.png) repeat-x;
    position: fixed;
    z-index: 4;
    top: 0;
    height: 50px;
}

.cabecalho__menus{
    display: none;
    background-color: none;
}

.cabecalho__logo{
    width: 100%;
}

.cabecalho__logo img{
    display: block;
    margin: 0 auto;
    padding: 16px 0;
}

.cabecalho__logo figcaption{
    display: none;
}

.lista__items a:hover:not(.inicio a){
    color: rgba(255,255,255,.7);
    transition: 0.5s;
}

.cabecalho__menuSecundario{
    display: flex;
    align-items: center;
}

.menu__lista2{
    align-items: center;
}

.lista2__items{
    margin: 0 5px;
}

/* PRINCIPAL */
.principal{
    margin-top: 65px;
}

.imagem__destaque{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.destaque__fundo{
    width: 100%;
    max-height: 870px;
    /* max-height: 810px; */
}

.strangerThings{
    width: 60%;
    max-width: 533px;
    margin-left: 15px;
    opacity: 85%;
}

.destaque__conteudo p{
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    margin: 10px 0px 10px 15px;
}

.principal__botoes{
    display: flex;
    flex-direction: row;
}

.btn__assistir,.btn__infos{
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    font-weight: bold;
}

.btn__assistir{
    background-color: white;
    color: #141414;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn__assistir:hover{
    background-color: rgba(255,255,255,.8);
    cursor: pointer;
    transition: 0.3s;
}

.btn__assistir img,.btn__infos img{
    width: 20px;
    height: 20px;
}

.btn__infos{
    background-color:rgba(109,109,110,0.7);
    color: white;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn__infos:hover{
    background-color: rgba(109,109,110,0.5);
    cursor: pointer;
    transition: 0.3s;
}

.principal__emAlta,.principal__continuarAssistindo,.principal__minhaLista,.principal__soNaNetflix,.principal__topBrasil,.principal__assistaNovamente{
    margin:0 0 0 15px;
}

section h2{
    margin:22px 0 10px;
    color:#E5E5E5;
    font-weight: 500;
}

section h2:hover{
    cursor: pointer;
    color: #fafafa;
    transition: 0.3s;
}

li img:not(.filme1 img){
    margin-left: 8px;
}

li img:hover{
    cursor: pointer;
}


.emAlta__items:hover img,.continuarAssistindo__items:hover img,.minhaLista__items:hover img,.soNaNetflix__items:hover img,.topBrasil__items:hover img,.assistaNovamente__items:hover img {
    filter: brightness(110%);
}


/* SEÇÃO EM CONTINUAR ASSISTINDO */

.continuarAssistindo__items{
    position: relative;
}

.continuarAssistindo__items .progresso{
    padding: 3% 20% 0;
    /* position: absolute; */
    left: 0;
    right: 0;
}

.continuarAssistindo__items .progresso .progresso__barra{
    height: 3px;
}

.progresso__barra{
    display: block;
    position: relative;
    background-color: rgba(255,255,255,.3);
}

.progresso__completo{
    width: 28%;
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #e50914;
}

/* RODAPÉ */
.rodape{
    max-width: 980px;
    margin: 20px auto 20px;
    padding: 0 4%;
    color: grey;
}

.rodape a{
    color: grey;
    text-decoration: none;
}

.rodape__redes{
    display: flex;
    margin-bottom: 15px;
}

.redes{
    height: 24px;
    width: 24px;
    margin-right: 20px;
}

.redes:hover{
    filter: brightness(200%);
    transition: 0.4s;
}

.rodape__listaLinks{
    list-style: none;
    display: none;
}

.links__items{
    margin-bottom: 15px;
    font-size: 0.8rem;
}

.links__items a:hover{
    text-decoration: underline;
}

.rodape__btnCodigo{
    background-color: #141414;
    color: gray;
    border: 1px solid gray;
    padding: 10px;
    font-weight: 400;
    margin-bottom: 30px;
}

.rodape__btnCodigo:hover{
    cursor: pointer;
    color: white;
}

@media screen and (min-width: 450px){
    .principal{
        margin-top: 100px;
    }
    .strangerThings{
        opacity: 100%;
    }
    .destaque__conteudo p{
        width: 60%;
        max-width: 584px;
    }
}

@media screen and (min-width: 600px){
    .principal{
        margin-top: 140px;
    }
    .destaque__conteudo p{
        font-size: 1rem;
        margin-left: 20px;
        margin-bottom: 15px;
    }
    .strangerThings,.btn__assistir,.principal__emAlta,.principal__continuarAssistindo,.principal__minhaLista,.principal__soNaNetflix,.principal__topBrasil,.principal__assistaNovamente{
        margin-left: 20px;
    }
    section h2{
        font-size: 1.2rem;
    }
    .btn__assistir{
        width: 120px;
        height: 40px;
        font-size: 1rem;
    }
    .btn__infos{
        width: 170px;
        height: 40px; 
        font-size: 1rem;  
    }
    .rodape__listaLinks{
        display: flex;
        flex-flow: row wrap;
    }
    .rodape__listaLinks a{
        margin-right: 15px;
    }
}

@media screen and (min-width: 760px){
    .principal{
        margin-top: 200px;
    }
    .destaque__conteudo p{
        font-size: 1.2rem;
        margin-left: 30px;
    }
    .strangerThings,.btn__assistir,.principal__emAlta,.principal__continuarAssistindo,.principal__minhaLista,.principal__soNaNetflix,.principal__topBrasil,.principal__assistaNovamente{
        margin-left: 30px;
    }
    .cabecalho__menus{
        display: flex;
        justify-content: end;
        width: 100%;
    }
    .cabecalho__menuPrimario{
        display: none;
    }
    .cabecalho__logo{
        max-width: 142px;
    }
    .cabecalho__logo img{
        margin: 0 0 0 30px ;
    }
    li img:not(.filme1 img){
        margin-left: 10px;
    }
}

@media screen and (min-width: 1024px){
    .principal{
        margin-top: 308px;
    }
    .destaque__conteudo p{
        font-size: 1.6rem;
        margin-left: 30px;
    }
    section h2{
        font-size: 1.6rem;
    }
    .btn__assistir{
        width: 188px;
        height: 62px;
        font-size: 1.3rem;
    }
    .btn__infos{
        width: 290px;
        height: 62px; 
        font-size: 1.3rem;  
    }
    .strangerThings,.btn__assistir,.principal__emAlta,.principal__continuarAssistindo,.principal__minhaLista,.principal__soNaNetflix,.principal__topBrasil,.principal__assistaNovamente{
        margin-left: 30px;
    }
    .cabecalho__menus{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-left: 50px;
    }
    .cabecalho__menuPrimario{
        display: flex;
    }
    .lista__items,.lista2__items{
        margin-left: 20px;
    }
    li img:not(.filme1 img){
        margin-left: 10px;
    }
}

@media screen and (min-width: 1024px){

    .strangerThings,.btn__assistir,.principal__emAlta,.principal__continuarAssistindo,.principal__minhaLista,.principal__soNaNetflix,.principal__topBrasil,.principal__assistaNovamente,.destaque__conteudo p,.cabecalho__logo img{
        margin-left: 60px;
    }
    .cabecalho__menus{
        margin-left: 80px;
    }
    section h2{
        margin-top: 44px;
    }
    .principal__emAlta,.rodape{
        margin-top: 63px;
    }
    .rodape{
        margin-bottom: 35px;
    }
    .links__items{
        margin-bottom: 15px;
        margin-right: 150px;
        width: 156px;
    }
    .rodape__listaLinks a{
        margin-right: 0;
    }
    .btn__assistir img,.btn__infos img{
        width: 1.6rem;
        height: 1.6rem;
    }
}
@media screen and (min-width: 1280px){
    .menu__lista2{
        margin-right: 80px;
    }
}

